<div class="container">
    <h1> SpaceX </h1>
    
    <div class="all-information">
        <img src="../assets/spacex.png" alt="SpaceX"> 
        <div class="information">
            <h5>Państwo: Stany Zjednoczone</h5>
            <h5>Stan: Kalifornia</h5>
            <h5>Siedziba: Rocket Rd, Hawthorne w hrabstwie Los Angeles</h5>
            <h5>Data założenia: 6 maja 2002</h5>
            <h5>Forma prawna: spółka z.o.o.</h5>
            <h5>Prezes: Elon Musk</h5>
            <h5>Dyrektor: Gwynne Shotwell</h5>
            <h5>Zatrudnienie: 8000 osób (maj 2020) </h5>
        </div>
    </div> 
    
    <p>Space Exploration Technologies Corporation – amerykańskie przedsiębiorstwo przemysłu kosmicznego, założone w roku 2002 przez Elona Muska. Jego celem jest budowa silników rakietowych i rakiet nośnych oraz statków kosmicznych, w tym także załogowych. Kluczem do osiągnięcia sukcesu ma być znaczne zmniejszenie kosztów wynoszenia ładunku na orbitę. Przede wszystkim, SpaceX projektuje i buduje serię rakiet orbitalnych Falcon i statków kosmicznych Dragon. </p>
    <p>Siedziba, montownia rakiet i biuro projektowe znajdują się w Hawthorne (hrabstwo Los Angeles) w Kalifornii. Silniki i inne duże elementy testowane są w McGregor w stanie Teksas. Ponadto firma posiada kilka biur regionalnych na terenie USA, a w styczniu 2015 r. ogłoszono plan utworzenia w Redmond w stanie Waszyngton biura projektowego na potrzeby planowanej produkcji satelitów telekomunikacyjnych. </p>
    <p>Dotychczasowe osiągnięcia: </p>
    <ul>
        <li>Pierwsza prywatna rakieta napędzana paliwem ciekłym, która osiągnęła orbitę (lot 4, Falcon 1, 28 września 2008)</li>
        <li>Pierwsza prywatna rakieta napędzana paliwem ciekłym, która umieściła satelitę na orbicie (RazakSAT, Falcon 1, lot 5,14 lipca 2009)</li>
        <li>Pierwsza firma prywatna, która pomyślnie wysłała na orbitę i odzyskała statek kosmiczny (kapsuła Dragon, COTS lot demo 1, 9 grudnia 2010)</li>
        <li>Pierwsza firma prywatna, która wysłała statek kosmiczny do Międzynarodowej Stacji Kosmicznej (Dragon C2+, 25 maja, 2012)</li>
        <li>Pierwsza firma prywatna, która wysłała satelitę na orbitę geosynchroniczną (SES-8, Falcon 9, lot 7, 3 grudnia 2013)</li>
        <li>Pierwsze lądowanie I stopnia rakiety orbitalnej na lądzie (Falcon 9, lot 20, 22 grudnia 2015)</li>
        <li>Pierwsze lądowanie I stopnia rakiety orbitalnej na platformie morskiej (Falcon 9, lot 23, 8 kwietnia 2016)</li>
        <li>Pierwszy ponowne użycie (start i lądowanie) I stopnia rakiety orbitalnej (B1021, Falcon 9, lot 32, 30 marca 2017)</li>
        <li>Pierwszy kontrolowane sprowadzenie na ziemię i odzyskanie osłon aerodynamicznych rakiety orbitalnej (Falcon 9, lot 32, 30 marca 2017)</li>
        <li>Pierwszy ponowny lot komercyjnego ładunkowego statku kosmicznego (Dragon C106, misja CRS-11, 3 czerwca 2017)</li>
        <li>Pierwsza firma prywatna, która wysłała załogowy statek kosmiczny do Międzynarodowej Stacji Kosmicznej (Dragon V2, 2 marca 2019)</li>
        <li>Pierwsza firma prywatna, która wysłała ludzi na orbitę i na ISS (misja SpaceX DM-2, 30–31 maja, 2020)</li>
    </ul>
    <p>W lipcu 2010 r. SpaceX ogłosiło, że jego dalekosiężnym celem jest załogowa misja na Marsa. Misja taka będzie możliwa ok. 2025 r., pod warunkiem przystąpienia do prac od razu. W celu realizacji tego zamierzenia SpaceX ogłosiło plan działań w najbliższych latach: </p>
    <ul>
        <li>nowy, znacznie większy silnik Merlin 2 o ciągu 1,7 MN na poziomie morza (Merlin 1D: 620 kN)</li>
        <li>wersje rakiet Falcon 9 i Heavy z silnikami Merlin 2 – jeden Merlin 2 w miejsce baterii dziewięciu Merlinów 1D,</li>
        <li>rakieta Falcon X o udźwigu 38 t na LEO</li>
        <li>rakieta Falcon X Heavy o udźwigu 125 t na LEO</li>
        <li>rakieta Falcon XX o udźwigu 140 t na LEO</li>
        <li>rakieta MCT o udźwigu ponad 200 t na LEO oraz 100 t na powierzchnię Marsa</li>
    </ul>
    <p>Plany te zostały w pewnym stopniu zmienione, rakiety Falcon X, X Heavy i XX oraz silnik Merlin 2 nie będą produkowane.</p>
    <p>We wrześniu 2019 roku na konferencji prasowej wygłoszonej w Boca Chica w Teksasie na terenie jednej z placówek firmy, Elon Musk przedstawił postępy i zmiany które zaszły w projekcie misji na Marsa. Obecnie planowane jest wykorzystanie statku kosmicznego Starship, będącego na etapie opracowywania, a z pomocą którego ma być możliwe zabranie 100-osobowej załogi bądź 100 ton sprzętu na powierzchnię Marsa. Statek wykonany będzie ze stali nierdzewnej, a zasilać go będą silniki Raptor, wykorzystujące ciekły metan i ciekły tlen.</p>
</div>

<div class="back"><button routerLink="/">POWRÓT</button></div>
