<div class="container">
    <h1> NASA </h1>
    
    <div class="all-information">
        <img src="../assets/nasa.svg" alt="NASA"> 
        <div class="information">
            <h5>Państwo: Stany Zjednoczone</h5>
            <h5>Data utworzenia: 29 lipca 1958</h5>
            <h5>Siedziba: Waszyngton D.C.</h5>
            <h5>Administrator: Jim Bridenstine</h5>
            <h5>Zastępca: James Morhard</h5>
            <h5>Budżet: 22.629 mld USD (2020)</h5>
            <h5>Zatrudnienie: 17 389 (31.05.2020) </h5>
        </div>
    </div> 
    
    <p>Narodowa Agencja Aeronautyki i Przestrzeni Kosmicznej (ang. National Aeronautics and Space Administration) – agencja rządu Stanów Zjednoczonych odpowiedzialna za narodowy program lotów kosmicznych, ustanowiona 29 lipca 1958 roku na mocy National Aeronautics and Space Act, zastępując poprzednika – National Advisory Committee for Aeronautics. NASA nie wchodzi w skład struktury żadnego ministerstwa (departamentu). Ma status niezależnej agencji podległej bezpośrednio prezydentowi Stanów Zjednoczonych.</p>
    <p>Oprócz programu lotów kosmicznych agencja jest również odpowiedzialna za długofalowy (zarówno cywilny, jak i wojskowy) program badań przestrzeni kosmicznej. W lutym 2006 roku NASA sama określiła swoje cele, uznając, że jej misją jest „utorowanie drogi przyszłej eksploracji kosmosu, odkryciom naukowym i badaniom z dziedziny aeronautyki”.</p>
    <p>Wraz z powołaniem do życia NASA w 1958 r., została zlikwidowana NACA, a jej ośrodki badawcze – Centrum Badawcze imienia Josepha Amesa, Lewis Research Center, Langley Research Center – zostały włączone w struktury nowej agencji, podobnie jak niektóre elementy US Army i US Navy. W 1967 r. Kongres USA polecił NASA stworzenie specjalnego zespołu ds. bezpieczeństwa przestrzeni powietrznej (ang. Aerospace Safety Advisory Panel, ASAP), aby doradzał administratorowi agencji w sprawach bezpieczeństwa i zagrożenia programów kosmicznych NASA.</p>
    <p>Administrator NASA jest najwyższym w hierarchii pracownikiem tej agencji, a także pełni rolę doradcy prezydenta Stanów Zjednoczonych ds. badań kosmicznych. Zadaniem administratora jest kierowanie pracami NASA w taki sposób, aby wywiązywać się z zadań stawianych jej przez Wizję Eksploracji Kosmosu. Obecnym administratorem agencji jest Charles F. Bolden Jr., który pełni tę funkcję od 2009 r.</p>
    <p>Główna siedziba NASA mieści się w Waszyngtonie. Kompleks NASA Shared Services znajduje się na terenie John C. Stennis Space Center koło Bay St. Louis w stanie Missisipi. Ośrodek został przebudowany po zniszczeniach spowodowanych przez Huragan Katrina w 2005 r.</p>
    <p>NASA ma wiele ośrodków badawczych i testowych, których zastosowanie wielokrotnie zmieniało się w przeciągu lat.</p>
    <p>Lista misji NASA: </p>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Program</th>
            <th scope="col">Rzpoczęcie</th>
            <th scope="col">Zakończenie</th>
            <th scope="col">Misje załogowe</th>
            <th scope="col">Opis</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Program Mercury</td>
            <td>1959</td>
            <td>1963</td>
            <td>10</td>
            <td>Pierwszy amerykański program załogowy.</td>
          </tr>
          <tr>
            <td>Program Gemini</td>
            <td>1963</td>
            <td>1966</td>
            <td>10</td>
            <td>Program służył do przetestowania sposobów dokowania i systemu aktywności pozapojazdowej. </td>
          </tr>
          <tr>
            <td>Program Apollo</td>
            <td>1961</td>
            <td>1975</td>
            <td>11</td>
            <td>Program wyniósł pierwszego człowieka na Księżyc.</td>
          </tr>
          <tr>
            <td>Skylab</td>
            <td>1973</td>
            <td>1979</td>
            <td>3</td>
            <td>Pierwsza amerykańska stacja kosmiczna. Misje załogowe na tę stację miały miejsce tylko w latach 1973 i 1974.</td>
          </tr>
          <tr>
            <td>Sojus-Apollo</td>
            <td>1975</td>
            <td>1975</td>
            <td>1</td>
            <td>Połączenie na orbicie z radzieckim statkiem Sojuz.</td>
          </tr>
          <tr>
            <td>Space Transportation System (STS)</td>
            <td>19722</td>
            <td>2011</td>
            <td>136</td>
            <td>Pierwszy program, w którym statki kosmiczne zaczęły być używane wielokrotnie, a nie tak jak wcześniej, jednorazowo. 21 lipca 2011 zakończono program.</td>
          </tr>
          <tr>
            <td>Program Shuttle-Mir</td>
            <td>1995</td>
            <td>1998</td>
            <td>9</td>
            <td>We współpracy z Rosją. Misje wahadłowców na stację Mir.</td>
          </tr>
          <tr>
            <td>Międzynarodowa Stacja Kosmiczna</td>
            <td>1998</td>
            <td>trwa</td>
            <td>19</td>
            <td>Razem z Rosją, Kanadą, ESA i JAXA oraz kooperacją Włoch i Brazylii. Międzynarodowa Stacja Kosmiczna zostanie zdeorbitowana prawdopodobnie w 2022 r.</td>
          </tr>
          <tr>
            <td>Program Constellation</td>
            <td>anulowany</td>
            <td>anulowany</td>
            <td>0</td>
            <td>Program, który miał w niedalekiej przyszłości po raz kolejny wynieść człowieka na Księżyc.</td>
          </tr>
          <tr>
            <td>Program Artemis</td>
            <td>2017</td>
            <td>trwa</td>
            <td>2 (planowane)</td>
            <td>Program powrotu Amerykanów na Księżyc do 2024 roku.</td>
          </tr>
        </tbody>
      </table>
</div>

<div class="back"><button routerLink="/">POWRÓT</button></div>
