<div class="container">
    <h1> Słońce </h1>

    <div class="all-information">
        <img src="../assets/sun.jpg">
        <div class="information">
            <h5>Odległość: 149600000 km</h5>
            <h5>Wielkość obserwowana: -26,74</h5>
            <h5>Rodzaj gwiazdy: żółty karzeł</h5>
            <h5>Typ widmowy: G2 V</h5>
            <h5>Masa: (1,98855 ± 0,00025) × 10^30 kg</h5>
            <h5>Promień: (696 342 ± 65) km</h5>
            <h5>Pole powierzchni: 6,0787×1012 km² </h5>
            <h5>Objętość: 1,4093 × 10^18 km³ </h5>
            <h5>Okres obrotu: 25,05 dni (na równiku)</h5>
            <h5>Prędkość obrotu: 1,887 km/s</h5>
            <h5>Przyśpieszenie grawitacyjne: 274 m/s²</h5>
            <h5>Prędkość uczieczki: 617,7 km/s</h5>
            <h5>Wiek: ~4,57 Ga</h5>
            <h5>Temperatura: 5778 K (fotosfera)</h5>
            <h5>Okres orbitalny: (2,25 – 2,50) × 10^8 lat</h5>
        </div>
    </div>
    
    <p>Gwiazda centralna Układu Słonecznego, wokół której krąży Ziemia, inne planety tego układu, planety karłowate oraz małe ciała Układu Słonecznego. Słońce składa się z gorącej plazmy utrzymywanej przez grawitację i kształtowanej przez pole magnetyczne. Jest prawie idealnie kuliste, ma średnicę około 1 392 684 km, około 109 razy większą niż Ziemia, a jego masa (1,989 × 10^30 kg, około 333 tysięcy razy większa niż masa Ziemi) stanowi około 99,86% całkowitej masy Układu Słonecznego. Około trzy czwarte masy Słońca stanowi wodór, resztę głównie hel. Pozostałe 1,69% (co odpowiada około 5600 Ziemi) tworzą cięższe pierwiastki, w tym m.in. tlen, węgiel, neon i żelazo.</p>
    <p>Słońce uformowało się około 4,567 mld lat temu na skutek kolapsu grawitacyjnego obszaru w dużym obłoku molekularnym. Większość materii zgromadziła się w centrum, a reszta utworzyła orbitujący wokół niego, spłaszczony dysk, z którego ukształtowała się pozostała część Układu Słonecznego. Centralna część stawała się coraz gęstsza i gorętsza, aż w jej wnętrzu zainicjowana została synteza termojądrowa. Naukowcy sądzą, że niemal wszystkie gwiazdy powstają na skutek tego procesu. Słońce jest typu widmowego G2 V, czyli należy do tzw. żółtych karłów ciągu głównego; widziane z Ziemi ma barwę białą. Oznaczenie typu widmowego „G2” wiąże się z jego temperaturą efektywną równą 5778 K (5505 °C), a oznaczenie klasy widmowej „V” wskazuje, że Słońce, należy do ciągu głównego gwiazd i generuje energię w wyniku fuzji jądrowej, łącząc jądra wodoru w hel. Słońce przetwarza w jądrze w ciągu sekundy około 620 mln ton wodoru.</p>
    <p>Absolutna wielkość gwiazdowa Słońca wynosi 4,83m, jednak jako gwiazda położona najbliżej Ziemi Słońce jest najjaśniejszym obiektem na niebie o obserwowanej wielkości gwiazdowej równej –26,74m.</p>
    <p>Odległość Ziemi od Słońca zmienia się podczas ruchu orbitalnego Ziemi, która osiąga peryhelium w styczniu i aphelium w lipcu; jej średnia długość to około 150 mln km, 1 jednostka astronomiczna. Tę średnią odległość światło pokonuje w ciągu około 8 minut i 19 sekund. Energia słoneczna jest niezbędna dla większości form życia na Ziemi[b], poprzez proces fotosyntezy zasilający najniższy poziom troficzny większości ekosystemów, a także napędza ziemską pogodę. Ogromny wpływ Słońca na Ziemię był dostrzegany już w czasach prehistorycznych, a Słońce w wielu kulturach traktowano jako bóstwo. Naukowe zrozumienie funkcjonowania Słońca rozwijało się powoli i nawet w XIX wieku wybitni naukowcy mieli ograniczone pojęcie o tym, jak zbudowane jest Słońce i co jest źródłem jego energii. Chociaż wiedza na temat Słońca stale się rozwija, wciąż istnieją pewne problemy teoretyczne z wyjaśnieniem zjawisk dziejących się na Słońcu. </p>
</div>

<div class="back"><button routerLink="/solar-system">POWRÓT</button></div>
