.content {
    position: fixed;
}

img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

h3 {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 30vw 0 30vw;
    top: 40%;
    font-size: calc(14px + (30 - 14) * ((100vw - 200px) / (1920 - 200)));
    font-size: bold;
}