.navbar {
    background-color:#212121;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.title {
    color: #005b9f;
    letter-spacing: 0.3em;
    font-size: 22px;
    font-weight: 900;
    margin: 0 10vw 0 0;
}

.nav-link {
    margin: 0 8vw 0 0;
}
