.navbar {
    background-color:#212121;
    font-weight: bold;
    font-size: 18px;
}

.title {
    color: #005b9f;
    letter-spacing: 0.3em;
    font-size: 22px;
    font-weight: 900;
    margin: 0 25vh 0 0;
}

a {
    color: #ffffff;
}

a:hover {
    color: #005b9f;
}

.nav-link {
    margin: 0 25vh 0 0;
}
