.navbar {
    background-color:#212121;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    overflow-x: hidden;
}

.title {
    color: #005b9f;
    letter-spacing: 0.3em;
    font-size: 1.375rem;
    font-weight: bold;
    margin: 0 9vw 0 0;
}

.nav-link {
    margin: 0 7vw 0 0;
}


@media (max-width: 1354px) {

    .navbar {
        font-size: .875rem;
    }
    
    .title {
        font-size: 1.125rem;
    }
}

@media (max-width: 1120px) {

    .navbar {
        font-size: .8125rem;
    }
}

@media (max-width: 1075px) {

    .navbar {
        font-size: .70rem;
    }

    .title {
        font-size: 1rem;
    }
}

@media (max-width: 991px) {

    .navbar {
        font-size: 1.125rem;
    }
    
    .title {
        font-size: 1.375rem;
    }
} 

@media (max-width: 275px) {

    .navbar {
        font-size: .7rem;
    }

    .title {
        font-size: .8rem;
    }

    .navbar-toggler-icon {
        width: .7em;
        height: .7em;
    }
} 