<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="home" routerLinkActive="active-router">
    <span class="title">Astronux</span>
  </a>
  <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" id="solar-system" routerLink="solar-system" routerLinkActive="active-router">Układ słoneczny</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Wszechświat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NASA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SpaceX</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="sources" routerLink="sources" routerLinkActive="active-router">Źródła</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>