<div class="container">
    <h3>Źródła: </h3>

    <ul>
        <li><a href="https://pixabay.com/pl/photos/gwiazd-niebo-noc-gwia%C5%BAdzista-1654074/">Główne tło</a></li>
        <li><a href="https://pixabay.com/pl/illustrations/streszczenie-astralne-astrologia-2615764/">Pierwsze tło podstrony Wszechświat</a></li>
        <li><a href="https://pixabay.com/pl/illustrations/za%C4%87mienie-s%C5%82o%C5%84ce-przestrze%C5%84-ksi%C4%99%C5%BCyc-1492818/">Drugie tło podstrony Wszechświat</a></li>
        <li><a href="https://pixabay.com/pl/photos/planety-planeta-wszech%C5%9Bwiat-2666129/">Zdjęcie wykorzystane przy wyborze planet</a></li>
        <li><a href="https://unsplash.com/photos/pd4lo70LdbI">Zdjęcie wykorzystane przy wyborze księżyców</a></li>
        <li><a href="https://pixabay.com/pl/photos/s%C5%82o%C5%84ce-rozb%C5%82ysk-s%C5%82oneczny-przestrze%C5%84-11582/">Zdjęcie Słońca</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/S%C5%82o%C5%84ce">Informacje o Słońcu (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Sun">Informacje o Słońcu (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Mercury_in_true_color.jpg">Zdjęcie Merkurego</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Merkury">Informacje o Merkurym (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Mercury_(planet)">Informacje o Merkurym (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Venus-real_color.jpg">Zdjęcie Wenus</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Wenus">Informacje o Wenus (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Venus">Informacje o Wenus (angielskie źródło)</a></li>
        <li><a href="https://pixabay.com/pl/photos/ziemi-planety-przestrze%C5%84-%C5%9Bwiata-11009/">Zdjęcie Ziemi</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Ziemia">Informacje o Ziemi (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Earth">Informacje o Ziemi (angielskie źródło)</a></li>
        <li><a href="https://pixabay.com/pl/photos/mars-red-planet-planety-11012/">Zdjęcie Marsa</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Mars">Informacje o Marsie (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Mars">Informacje o Marsie (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Jupiter_and_its_shrunken_Great_Red_Spot_(cropped).jpg">Zdjęcie Jowisza</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Jowisz">Informacje o Jowiszu (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Jupiter">Informacje o Jowiszu (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Saturn_during_Equinox.jpg">Zdjęcie Saturna</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Saturn">Informacje o Saturnie (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Saturn">Informacje o Saturnie (angielskie źródło)</a></li>
        <li><a href="https://pixabay.com/pl/photos/uran-planety-gazowy-olbrzym-11625/">Zdjęcie Urana</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Uran">Informacje o Uranie (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Uranus">Informacje o Uranie (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Neptune_Full.jpg">Zdjęcie Neptuna</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Neptun">Informacje o Neptunie (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Neptune">Informacje o Neptunie (angielskie źródło)</a></li>
        <li><a href="https://pixabay.com/pl/photos/pe%C5%82nia-ksi%C4%99%C5%BCyca-ksi%C4%99%C5%BCyc-jasny-niebo-496873/">Zdjęcie Księżyca</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Ksi%C4%99%C5%BCyc">Informacje o Księżycu (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Moon">Informacje o Księżycu (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Deimos-MRO.jpg">Zdjęcie Deimosa</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Deimos_(ksi%C4%99%C5%BCyc)">Informacje o Deimosie (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Deimos_(moon)">Informacje o Deimosie (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Phobos_colour_2008.jpg">Zdjęcie Fobosa</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Fobos_(ksi%C4%99%C5%BCyc)">Informacje o Fobosie (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Phobos_(moon)">Informacje o Fobosie (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Io_highest_resolution_true_color.jpg">Zdjęcie Io</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Io_(ksi%C4%99%C5%BCyc)">Informacje o Io (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Io_(moon)">Informacje o Io (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Europa-moon.jpg">Zdjęcie Europy</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Europa_(ksi%C4%99%C5%BCyc)">Informacje o Europie (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Europa_(moon)">Informacje o Europie (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Ganymede,_moon_of_Jupiter,_NASA.jpg">Zdjęcie Ganimedesa</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Ganimedes_(ksi%C4%99%C5%BCyc)">Informacje o Ganimedesie (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Ganymede_(moon)">Informacje o Ganimedesie (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Callisto.jpg">Zdjęcie Kallisto</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Kallisto_(ksi%C4%99%C5%BCyc)">Informacje o Kallisto (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Callisto_(moon)">Informacje o Kallisto (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Mimas_Cassini.jpg">Zdjęcie Mimasa</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Mimas_(ksi%C4%99%C5%BCyc)">Informacje o Mimasie (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Mimas_(moon)">Informacje o Mimasie (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:PIA17202_-_Approaching_Enceladus.jpg">Zdjęcie Enceladusa</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Enceladus_(ksi%C4%99%C5%BCyc)">Informacje o Enceladusie (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Enceladus">Informacje o Enceladusie (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:PIA18317-SaturnMoon-Tethys-Cassini-20150411.jpg">Zdjęcie Tetydy</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Tetyda_(ksi%C4%99%C5%BCyc)">Informacje o Tetydzie (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Tethys_(moon)">Informacje o Tetydzie (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Dione_in_natural_light_(cropped).jpg">Zdjęcie Dione</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Dione_(ksi%C4%99%C5%BCyc)">Informacje o Dione (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Dione_(moon)">Informacje o Dione (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Titan_in_true_color.jpg">Zdjęcie Tytana</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Tytan_(ksi%C4%99%C5%BCyc)">Informacje o Tytanie (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Titan_(moon)">Informacje o Tytanie (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Ariel_(moon).jpg">Zdjęcie Ariela</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Ariel_(ksi%C4%99%C5%BCyc)">Informacje o Arielu (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Miranda_(moon)">Informacje o Arielu (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:PIA18185_Miranda%27s_Icy_Face.jpg">Zdjęcie Mirandy</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Miranda_(ksi%C4%99%C5%BCyc)">Informacje o Mirandzie (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Ariel_(moon)">Informacje o Mirandzie (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Triton_moon_mosaic_Voyager_2_(large).jpg">Zdjęcie Trytona</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Tryton_(ksi%C4%99%C5%BCyc)">Informacje o Trytonie (polskie źródło)</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Triton_(moon)">Informacje o Trytonie (angielskie źródło)</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:NASA_logo.svg">Logo NASA</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/NASA">Informacje o NASA</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/Lista_misji_NASA">Lista misji NASA</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:SpaceX-Logo.svg">Logo SpaceX</a></li>
        <li><a href="https://pl.wikipedia.org/wiki/SpaceX">Informacje o SpaceX</a></li>
    </ul>
</div>

<div class="back"><button routerLink="/">POWRÓT</button></div>