.container {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    border: 2px solid #222222;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6); 
}

h3 {
    margin: 3vh 0 3vh 0;
    display: flex;
    justify-content: center;
    font-size: calc(20px + (36 - 20) * ((100vw - 200px) / (1920 - 200)));
    font-weight: bold;
}

li {
    margin: 1vh 0 1vh 0;
    font-size: calc(14px + (26 - 14) * ((100vw - 200px) / (1920 - 200)));
    font-weight: bold;
}

a {
    color: #ffffff;   
}

.back {
    display: flex;
    justify-content: center;
}

button {
    margin: 3vh 0 2vh 0;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #000000;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    font-size: 15px;
    font-weight: 900;
    padding: 0.5% 0.2% 0.5% 0.2%;
}

button:hover {
    background-color: #aeaeae;
    border: 1px solid #aeaeae;
}