.container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    border: 2px solid #222222;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6); 
    text-align: justify;
}

h1 {
    margin: 3vh 0 3vh 0;
    display: flex;
    justify-content: center;
}

img {
    width: 30vw;
    height: 60vh;
    margin: 0 0 3vh 5vw;
}

.all-information {
    display: flex;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 3vw;
}

h5 {
    font-weight: bold;
}

p {
    font-size: 25px;
    margin: 1vh 1vw 1vh 1vw;
}