video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 30px;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

h3 {
    display: flex;
    align-items: center;
    text-align: center;
    position: fixed;
    height: 100%;
    margin: 0 15vw 5vh 15vw;
    font-size: calc(16px + (30 - 16) * ((100vw - 200px) / (1920 - 200)));
    font-weight: bold;
    background-attachment: fixed;
}

