<div class="content">
  <div class="fade"></div>

  <div class="star-wars-motive">

    <div class="crawl">

      <div class="title">
        <p>ASTRONUX</p>
        <h1>Kosmiczny portal internetowy</h1>
      </div>
      
    <p>Kosmiczny portal internetowy o tajemniczej nazwie Astronux pojawił się w świecie internetu. </p>
    <p>Pragnie powitać wszystkich, którzy chcą poznać sekrety kryjące się w kosmosie. </p>
    <p>Jego celem jest przeprowadzienie wszystkich odwiedzających portal w głąb informacji między innymi po naszym Układzie Słonecznym a w przyszłości może i po tajemniczych zakątkach Wszechświata, które znacząco wykraczają nawet poza naszą galaktykę... </p>

    </div>

  </div>
</div>