<div class="objects">
    <div class="object" id="planets" routerLink="planets" routerLinkActive="active-router">
        <img src="../assets/planets.jpg" alt="Planets">
        <div class="object-name">PLANETY</div>
    </div>

    <div class="object" id="moons" routerLink="moons" routerLinkActive="active-router">
        <img src="../assets/moons.webp" alt="Moons">
        <div class="object-name">KSIĘŻYCE</div>
    </div>

    <div class="object" id="sun" routerLink="sun" routerLinkActive="active-router">
        <img src="../assets/sun.jpg" alt="Sun">
        <div class="object-name">SŁOŃCE</div>
    </div>
</div>

<router-outlet></router-outlet>