.objects {
    display: flex;
    justify-content: center;
    margin: 5vh 0 0 0;
}

.object {
    border: 1px solid #333333;
    width: 10em;
    height: 10em;
    cursor: pointer;
    overflow: hidden;
    margin: 0 1vw 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(20px + (40 - 20) * ((100vw - 576px) / (1920 - 576)));
    font-size: bold;    
}

.object-name {
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: all 0.5s ease-in-out;
}

.object:hover > img {
    opacity: 1;
    transform: scale(1.15);
}

.object:hover > .object-name {
    display: none;
} 


@media (max-width: 576px) {

    .objects {
        flex-direction: column;
        align-items: center;
    }

    .object {
        margin: 1vw 0 1vw 0;
        font-size: calc(20px + (40 - 20) * ((100vw - 200px) / (576 - 200)));
    }
}